@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    transition: .1s all;
    scroll-behavior: smooth;
    color: #0C2340;
}

body {
    background: #fff;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 950px;
    margin: auto;
    padding: 10px 20px;
}

.navbar {
    background: whitesmoke;
}

a {
    text-decoration: none;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: .9rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.navbar .logo b {
    color: #0C2340;
}

.navbar img {
    width: 40px;
}

.hero {
    padding-top: 1.5rem;
    padding-bottom: 0;
    display: grid;
    background-color: #1c2230;
}

.hero .container {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
}

.hero .texts {
    display: grid;
    align-items: center;
}

h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 900;
}

.hero .texts h2,
.hero .texts p {
    color: #f0eeeb;
}

.hero .texts p {
    font-weight: 300;
    line-height: 1.7rem;
    font-size: 1.1rem;
}

.hero img {
    border-radius: 14px;
    box-shadow: none;
}

.section {
    background: whitesmoke;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.section .nums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

.section .num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section .nums .n {
    font-size: 150px;
    color: lightgray;
    font-family: 'Anton', sans-serif;
}

.section .nums .t {
    position: absolute;
    color: black;
    font-size: 1.5rem;
}

.demo {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    background-color: #1c2230;
}

.demo iframe {
    width: 100%;
    height: 560px;
}

.demo h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.projects {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    background-color: white;
}

.projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.grid_projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.swiper {
    width: 100%;
    height: 450px;
    padding-bottom: 20px !important;
}

.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after,
.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
    content: 'prev';
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.6rem !important;
}

.swiper-pagination {
    transform: translate3d(0px, 11px, 0) !important;
}

.grid_projects iframe {
    width: 100%;
}

.contact {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    background-color: whitesmoke;
}

.contact h2 {
    max-width: 600px;
    text-align: center;
}

.contact form {
    display: grid;
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.contact input,
.contact textarea {
    padding: 12px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
}

.contact input:hover,
.contact textarea:hover,
.contact input:focus,
.contact textarea:focus {
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.contact button {
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #1c2230;
    color: white;
}

.contact button:hover {
    background-color: rgba(0, 0, 0, 1);
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.resume {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #1c2230;
}

.resume h3 {
    font-size: 2rem;
    color: #f0eeeb;
    font-weight: 700;
}

.resume p {
    color: #f0eeeb;
}

.resume a {
    font-weight: bolder;
    color: #6fa3f7;
}

@media (min-width:820px) {
    #mobile {
        display: none;
    }
}

@media (max-width:820px) {
    .resume {
        background-color: #1c2230;
    }

    .section {
        display: none;
    }

    .hero .texts p {
        line-height: normal;
        font-size: 1rem;
    }

    .hero .container {
        grid-template-columns: 1fr;
        padding-top: 1rem;
        padding-bottom: 2rem;
        gap: 2rem;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    .swiper {
        width: 90vw;
    }

    iframe,
    .swiper {
        height: 50vw !important;
    }

    .projects,
    .demo,
    .contact {
        min-height: fit-content;
        display: block;
    }

    .swiper-pagination {
        display: none;
    }

    .logo b {
        font-size: .8rem;
    }

    .section .nums {
        grid-template-columns: 1fr;
    }

    .section .nums .n {
        font-size: 169px;
    }

    .demo {
        background-color: #1c2230;
    }

    .contact {
        background-color: whitesmoke;
    }

    .projects {
        background: whitesmoke;
    }
}
