a,
a>span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}

a:before,
a:after,
a>span:before,
a>span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

.hover-3 {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}

.hover-3:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #492059;
    transform: translateX(-100%);
}

.hover-3:hover:before {
    transform: translateX(0);
}
