.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  margin: 59px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 20px auto 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 92px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 53px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 34px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 7px;
    margin-bottom: 34px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 610px;
}

.u-section-2 .u-video-1 {
  width: 1001px;
  height: 563px;
  margin: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    margin-top: 24px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-2 .u-video-1 {
    height: 224px;
    width: 390px;
    margin-left: -25px;
    margin-right: -25px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 186px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 400;
    margin-top: 37px;
    margin-bottom: 37px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 330px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: auto;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 390px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 250px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 330px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: auto;
  margin-bottom: 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 390px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 250px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 330px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: auto;
  margin-bottom: 20px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 390px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 250px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 330px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: auto;
  margin-bottom: 20px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 390px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 250px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 363px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 363px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-8 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/JAMES_PHOTO.jpg");
  background-position: 50% 50%;
  margin: 0 -15px 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 363px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 55px 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 410px 0 0;
}

.u-section-8 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-8 .u-image-1 {
    width: 261px;
    height: 261px;
    margin-right: -26px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-8 .u-image-1 {
    width: 240px;
    height: 240px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 229px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-8 .u-image-1 {
    width: 390px;
    height: 390px;
    margin-top: -8px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 12px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 502px;
}

.u-section-9 .u-text-1 {
  width: 550px;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 60px auto 0;
}

.u-section-9 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-form-1 {
    width: 340px;
  }
}